
body{
  width:100%;
  padding: 10px;
  background-color: #ffff;
  line-height: 3;
  font-family: 'Sacramento',serif;

}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.navbar{
  background-color: white;

}

.navbar-brand{
  font-family: 'Tangerine', serif;
        font-size: 48px;
        text-shadow: 4px 4px 4px #aaa;
        letter-spacing: 5px;


}

.custom-navbar{
  margin-left: 25%;
}
.nav-item{
  padding-left: 40px;
}
.welcome-heading{

  font-size:30px;
  text-align: center;
  text-shadow: 4px 4px 4px #aaa;
  margin-top: 40px;
  margin-bottom: 60px;
}
.intro {
  padding: 30px 60Px 30px 30px;
  font-family: 'Quattrocento Sans',serif;
}

.intro-icons{

border-radius: 15px;
height: 14%;
padding-left: 30px;
margin-top: 5%;

}


.fab , .fas{
  margin-left: 5%;

}

 /* img{
   width: 50%;
   height: auto;
 } */
.intro-img  {
  height: 105%;
  width: 100%;
  margin-top: 0px;
}
.idoimg{
  margin-top: 0px;
  height: 100%;
  width:100%;


}
.skillcard{
  border-radius: 15px;
   box-shadow: 10px 10px 5px grey;
   margin-top: 15px;
     text-align: center;
}

.skillcard:hover{

  background-color: #FF2E63;
  box-shadow: 5px 5px 2px gray;
}

.skillimg{
  height: 50Px;
  width: 60px;

}
.whtido{
  margin-bottom:  50px;
}
.projectheading{
  text-align: center;
  text-decoration: underline;
  margin: 40px;
}
.projectcard{

  margin: 20px 30px 40px;
  text-align: center;
  background-color: black;
  height: 500px;

    text-shadow: 4px 4px 4px #aaa;
    padding: 60px 0px;



}

.projectlink , .projectlink:hover{
  color:#EAEAEA;
  text-decoration: none;

}


.projectcard:hover{
  box-shadow: 10px 10px 10px 3px grey;
}
.project-img{
  height:100px; width:100px;
  border-radius: 100%;
}

.reachdiv{

}
.reachout-section{
  padding: 30px;
  text-align: center;
  background-color: #EEEEEE;

}
.reachoutimg{
  border-radius: 100%;
border:5px solid black;
width: 200px;
height: 200px;

}
.contact-icons{

}
@media screen   and (min-width : 990px)   {
.reachoutimg{

  position: absolute;
  left:800px;
  top:2750px;
}
.reachout-section{

  text-align: inherit;
}
}
@media screen and (max-width:500px){
  .reachoutimg{
    
  position: absolute;
left:800px;
top:5000px;
}
@media screen and (min-width:900px) and (max-width:990px){
  .reachoutimg{

position: absolute;
left:800px;
top:4750px;
  }
  .reachout-section{

    text-align: inherit;
  }
}

.btn a{
  text-decoration-style: dashed;
  color:gray;
}






#footer-section p{
  text-align: center;
  align-items:center;
  color: gray;
}



@keyframes h1 {
  from{
    opacity: 1;
    /* transform:translate(); */
  }
  to{
    opacity: 0;
  }
}
